*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    padding:30px;
    background:#f2f2f2;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:900px;
    display:grid;
    gap:0;
}

/* Cada linha */
.linha{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    height:110px;
}

/* Cores do fundo das linhas */
.linha1{
    background:#0b9f2f;
}

.linha2{
    background:#ffd500;
}

.linha3{
    background:#102d82;
}

/* Blocos */
.bloco{
    width:130px;
    height:70px;
    border:2px solid white;
    border-radius:5px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-weight:bold;
    text-align:center;
    margin:0 80px;
}

/* Cores dos blocos */
.azul{
    background:#123b97;
}

.verde{
    background:#08a339;
}

.amarelo{
    background:#ffd400;
}

/* Alternância de posição */

/* Linha 1 */
.linha1 .bloco:first-child{
    justify-self:start;
}
.linha1 .bloco:last-child{
    justify-self:end;
}

/* Linha 2 */
.linha2 .bloco:first-child{
    justify-self:start;
}
.linha2 .bloco:last-child{
    justify-self:end;
}

/* Linha 3 */
.linha3 .bloco:first-child{
    justify-self:start;
}
.linha3 .bloco:last-child{
    justify-self:end;
}